In [1]:
import pandas as pd
import numpy as np

Задание 1. Создать объект Series из списка чисел [1, 2, 3] с метками [a, b, c] и вывести его на печать.

In [2]:
s = pd.Series([1,2,3], index=['a', 'b', 'c'])

In [3]:
print(s)

a    1
b    2
c    3
dtype: int64

Задание 2. Создать объект Series из словаря {'a': 1, 'b': 2, 'c': 3} и вывести его на печать.

In [4]:
my_list = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(my_list)

In [5]:
print(s)

a    1
b    2
c    3
dtype: int64

Задание 3. Создать объект массива NumPy arr = [1, 2, 3, 4, 5] , затем из него создать объект Series и вывести его на печать.

In [6]:
my_array = np.array([1, 2, 3, 4, 5])
s = pd.Series(my_array)

In [7]:
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int32

Задание 4. Создать объект Series с заполнением по умолчанию значением 0 и метками [a, b, c] и вывести его на печать.

In [8]:
s = pd.Series(0, index=['a', 'b', 'c'])

In [9]:
print(s)

a    0
b    0
c    0
dtype: int64

Задание 5. В первой строке ввода с клавиатуры поступает строка с символами разлепленными пробелом, во второй строка с целыми числами. На их основе создать список кортежей и из него объект Series, вывести его на печать.

In [13]:
str1 = input("Введите символы, разделенные пробелом ")
str2 = input("Введите челые числа ")
s1 = tuple(str(item) for item in str1.split(' '))
s2 = tuple(int(item) for item in str2.split(' '))
my_list = [s1, s2]
s = pd.Series(my_list)

Введите символы, разделенные пробелом a s d f
Введите челые числа 1 2 3 4

In [14]:
print(s)

0    (a, s, d, f)
1    (1, 2, 3, 4)
dtype: object

Задание 6. На вход поступает строка слов, разделенных пробелом. Создать на ее основе объект Series с метками 0, 1, 2,... Вывести его на печать.

In [18]:
str1 = input("Введите слова, разделенные пробелом ")
s1 = tuple(str(item) for item in str1.split(' '))
s = pd.Series(s1)

Введите слова, разделенные пробелом aa ss dd ff

In [19]:
print(s)

0    aa
1    ss
2    dd
3    ff
dtype: object

Задание 7. На вход поступает последовательность из чисел 0 и 1, разделенных пробелом. Создать на ее основе объект Series, содержащий булевы значения True (1) , False (0) c метками [a, b, c, d,...]

In [ ]:
s =input().split(' ')

In [ ]:
print(s)

Задание 8. Создать объект Series из списка дат ['2022-01-01', '2022-01-02', '2022 01-03'] , вывести его на печать. Даты в объекте Series должны быть представлены объектами datetime стандартной библиотеки языка программирования Python.

Задание 9. На вход подаются два целых числа n и m через пробел. На их основе создать объект Series с числами от n до m (включительно) с шагом 10 и метками [1, 3, 5, 7,...] . Вывести его на печать.