In [ ]:
import pandas as pd
import numpy as np

Задание 1. Создать объект Series из списка чисел [1, 2, 3] с метками [a, b, c] и вывести его на печать.

In [ ]:
s = pd.Series([1,2,3], index=['a', 'b', 'c'])

In [ ]:
print(s)

a    1
b    2
c    3
dtype: int64

Задание 2. Создать объект Series из словаря {'a': 1, 'b': 2, 'c': 3} и вывести его на печать.

In [ ]:
my_list = {'a': 1, 'b': 2, 'c': 3}
s = pd.Series(my_list)

In [ ]:
print(s)

a    1
b    2
c    3
dtype: int64

Задание 3. Создать объект массива NumPy arr = [1, 2, 3, 4, 5] , затем из него создать объект Series и вывести его на печать.

In [ ]:
my_array = np.array([1, 2, 3, 4, 5])
s = pd.Series(my_array)

In [ ]:
print(s)

0    1
1    2
2    3
3    4
4    5
dtype: int64

Задание 4. Создать объект Series с заполнением по умолчанию значением 0 и метками [a, b, c] и вывести его на печать.

In [ ]:
s = pd.Series(0, index=['a', 'b', 'c'])

In [ ]:
print(s)

a    0
b    0
c    0
dtype: int64

Задание 5. В первой строке ввода с клавиатуры поступает строка с символами разлепленными пробелом, во второй строка с целыми числами. На их основе создать список кортежей и из него объект Series, вывести его на печать.

In [28]:
str1 = input("Введите символы, разделенные пробелом ")
str2 = input("Введите целые числа ")
s1 = tuple(str(item) for item in str1.split(' '))
s2 = tuple(int(item) for item in str2.split(' '))
my_list = list(zip(s1, s2))
s = pd.Series(my_list)

Введите символы, разделенные пробелом a s d f
Введите целые числа 1 2 3 4

In [29]:
print(s)

0    (a, 1)
1    (s, 2)
2    (d, 3)
3    (f, 4)
dtype: object

Задание 6. На вход поступает строка слов, разделенных пробелом. Создать на ее основе объект Series с метками 0, 1, 2,... Вывести его на печать.

In [ ]:
str1 = input("Введите слова, разделенные пробелом ")
s1 = tuple(str(item) for item in str1.split(' '))
s = pd.Series(s1)

Введите слова, разделенные пробелом asd cool uwu

In [ ]:
print(s)

0     asd
1    cool
2     uwu
dtype: object

Задание 7. На вход поступает последовательность из чисел 0 и 1, разделенных пробелом. Создать на ее основе объект Series, содержащий булевы значения True (1) , False (0) c метками [a, b, c, d,...]

In [32]:
s =input()
st = list(map(int, s.split(' ')))

st = pd.Series(st,  dtype=bool)
st = st.rename(lambda x: chr(97 + x))

1 0 1 1

In [33]:
print(st)

a     True
b    False
c     True
d     True
dtype: bool

Задание 8. Создать объект Series из списка дат ['2022-01-01', '2022-01-02', '2022 01-03'] , вывести его на печать. Даты в объекте Series должны быть представлены объектами datetime стандартной библиотеки языка программирования Python.

In [ ]:
s = pd.Series(
    data = pd.date_range('2022-01-01', periods=3))

In [ ]:
print(s)

0   2022-01-01
1   2022-01-02
2   2022-01-03
dtype: datetime64[ns]

Задание 9. На вход подаются два целых числа n и m через пробел. На их основе создать объект Series с числами от n до m (включительно) с шагом 10 и метками [1, 3, 5, 7,...] . Вывести его на печать.

In [ ]:
a = int(input("Начальное число: "))
b = int(input("Конечное число: "))
s = []

sq = 0
ref = 0
while (ref + 10) < b:
  ref = a +sq
  s.append(ref)
  sq += 10

st = pd.Series(s)
st = st.rename(lambda x: int(1 + 2*x))

Начальное число: 5
Конечное число: 56

In [ ]:
print(st)

1      5
3     15
5     25
7     35
9     45
11    55
dtype: int64

Индивидуальное задание. Создать объект Series из словаря, содержащего ФИО ученика и его ID, отсортировать словарь по ID и вывести его на печать.

In [ ]:
my_list = {'98001': "Зайцев Роберт Митрофанович",
           '98003': "Никифоров Кондрат Пантелеймонович",
           '98002': "Комаров Константин Робертович",
           '98006': "Владимиров Авраам Богданович",
           '98005': "Артемьева Беатриса Федосеевна",
           '98004': "Воронцова Мальта Филипповна"}
sort_list = dict(sorted(my_list.items()))
st = pd.Series(sort_list)

In [ ]:
print(st)

98001           Зайцев Роберт Митрофанович
98002        Комаров Константин Робертович
98003    Никифоров Кондрат Пантелеймонович
98004          Воронцова Мальта Филипповна
98005        Артемьева Беатриса Федосеевна
98006         Владимиров Авраам Богданович
dtype: object